*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.centro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    background-color: aqua;
}